.table {
  overflow: scroll;
  width: 80%;
}
.tabler {
  margin: 2rem;
  height: 500px !important;
  overflow: scroll !important;
  @media (max-width: 991px) {
    font-size: 0.8rem;
    width: 700px;
  }
  @media (max-width: 811px) {
    width: 700px !important;
    margin-left: 0.5rem;
  }
  @media (max-width: 770px) {
    width: 600px !important;
    margin-left: 2rem !important;
  }
  @media (max-width: 700px) {
    width: max-content !important;
    margin: 1rem !important;
  }
}
.head {
  position: sticky;
  top: 0;
}
.btns {
  // @media (max-width: 991px) {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 10px;
  //   align-items: center;
  //   justify-content: center;
  // }

  .btn1 {
    @media (max-width: 991px) {
      padding: 0.41rem;
      height: 33px;
    }
  }
}
.employee__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  input {
    outline: none !important;
    margin-right: 0 !important;
  }
  span {
    padding: 1rem;
    background-color: rgb(225, 225, 225);
  }
}
