.table {
  overflow: scroll;
}
.tabler {
  margin: 2rem;
  @media (max-width: 991px) {
    font-size: 0.8rem;
  }
  @media (max-width: 730px) {
  }
}
.btns {
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .btn1 {
    @media (max-width: 991px) {
      padding: 0.41rem;
      height: 33px;
    }
  }
}
.employee__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  input {
    outline: none !important;
    margin-right: 0 !important;
  }
  span {
    padding: 1rem;
    background-color: rgb(225, 225, 225);
  }
}
