body {
  // background-color: #f6f2f2;
  background-color: rgba(58, 55, 55, 0.4);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  @media (max-width: 800px) {
    width: 100%;
    margin-left: -2rem !important;
  }
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;

  text-align: center;
  color: blue;
  font-weight: bold;
  @media (max-width: 900px) {
    margin-left: -3rem;

    font-size: 1rem;
  }
  @media (max-width: 800px) {
    margin-left: -4rem;

    font-size: 1rem;
  }

  &__input {
    padding: 1.3rem 1.5rem;
    border: none;

    outline: none;
    border-radius: 15px;
    background-color: #f3f3f3;
  }
  &__btn {
    padding: 1.3rem 2rem;
    border: none;
    text-transform: uppercase;
    // background-color: rgb(47, 197, 47);
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 20px;
    padding: 4rem;
    width: 700px;
    @media (max-width: 700px) {
      width: 100%;
    }
    h2 {
      font-weight: bold;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
}
a {
  text-decoration: none;
  font-size: 1.26rem;
}
