.Contrats {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  &__input {
    padding: 1rem 2rem;
    border: none;
    background-color: #fafafa;
    border-radius: 10px;
    outline: none;
  }
  &__btn {
    align-self: center;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
  }
}
