@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: initial !important;
}
@media (max-width: 900px) {
  .container {
    margin-left: -4rem !important;
  }
}
@media (max-width: 600px) {
  .container {
    margin-left: -6rem !important;
  }
}
.card {
  height: 200px;
  margin: 2rem;
  width: 400px;
  background: #fff;
  border-radius: 15px;
  z-index: 10;
  cursor: pointer;
  h3 {
    font-weight: 700;
    color: #fff;
  }
}
.gridl {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.dILRuI {
  background-color: rgb(36, 36, 36) !important;
  color: #fff !important;
  font-weight: 700;
}
.gLTUqv {
  width: 100%;
  // @media (max-width: 876px) {
  //   width: 120% !important;
  // }
  // @media (max-width: 585px) {
  //   width: 130% !important;
  // }
}
.dlUCce {
  width: 100%;
  // @media (max-width: 876px) {
  //   width: 120% !important;
  // }
  // @media (max-width: 585px) {
  //   width: 130% !important;
  //   overflow: scroll;
  // }
}
